<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f8;
        }

        .container {
            width: 600px;
            margin: 50px auto;
        }

        .card {
            background: white;
            padding: 15px;
            margin: 10px 0;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }

        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>


<div class="card">
    <h3>{{ resume.name }}</h3>
    
    <a href="/resume/{{ resume.id }}/">View</a> |
    <a href="/edit/{{ resume.id }}/">Edit</a>
</div>

<div class="container">
    <h1>All Resumes</h1>

    {% for resume in resumes %}
        <div class="card">
            <a href="/resume/{{ resume.id }}/">
                <h3>{{ resume.name }}</h3>
            </a>
        </div>
    {% empty %}
        <p>No resumes yet</p>
    {% endfor %}

</div>

</body>
</html>